<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/a215289790.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
</head>

<body>
    <header class="header-home">
        <div class="main-header-top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo" />
            <div class="barra-busqueda">
                <input title="Barra" value="Buscar productos y marcas" class="input-busqueda"></input>
                <i class="fa-solid fa-magnifying-glass icono-busqueda"></i>
            </div>
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Compre en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <br />
            <ul class="right-navbar">
                <li>
                    <a href="/register">Crea tu cuenta
                        <i class="fa-regular fa-id-card"> </i>
                    </a>
                </li>
                <li>
                    <a href="/login">Ingresa
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </li>
                <li>
                    <a href="#">Mis compras
                        <i class="fa-solid fa-basket-shopping"> </i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/" method="GET" class="create-form">
            <div class="control-formulario">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="control" />

            </div>
            <div class="control-formulario">
                <label for="nombre-usuario">Nombre de usuario:</label>
                <input type="text" id="nombre-usuario" name="nombre-usuario" class="control" />

            </div>
            <div class="control-formulario">
                <label for="nombre-usuario">Nombre de usuario:</label>
                <input type="email" id="email" name="email-usuario" class="control" />

            </div>
            <div class="control-formulario">
                <label for="fec-nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="fec-nacimiento" name="fec-nacimiento" class="control" />
            </div>

            <div class="control-formulario">
                <label for="domicilio">Domicilio:</label>
                <input type="text" id="domicilio" name="domicilio" class="control" />

            </div>

            <div class="control-formulario">
                <label>Perfil de usuario: </label>
                <input type="radio" name="perfil" value="comprador"> Comprador</input>
                <input type="radio" name="perfil" value="vendedor"> Vendedor</input>

            </div>

            <div class="control-formulario">
                <label>Intereses</label>
                <ul>
                    <li><input type="checkbox" name="intereses" value="electro"> Electro</input></li>
                    <li><input type="checkbox" name="intereses" value="moda"> Moda</input></li>
                    <li><input type="checkbox" name="intereses" value="hogar"> Hogar</input></li>
                    <li><input type="checkbox" name="intereses" value="jugueteria"> Juguetería</input></li>
                    <li><input type="checkbox" name="intereses" value="vida-sana"> Vida Sana</input></li>
                </ul>
            </div>

            <div class="control-formulario">
                <label for="foto">Foto de usuario:</label>
                <input type="file" id="foto" name="foto" />
            </div>

            <div class="control-formulario">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" class="control" />

            </div>

            <div class="control-formulario">
                <label for="contrasena-confirmar">Confirmar contraseña:</label>
                <input type="password" id="contrasena-confirmar" name="contrasena-confirmar" class="control" />

            </div>

            <div class="panel-botones">                
                <button type="reset" class="boton-formulario">Borrar</button>
                <button type="submit" class="boton-formulario">Enviar</button>
            </div>
        </form>
    </main>
    <footer class="footer">
        <section class="item-footer">
            <header>
                <div class="icon-footer"><i class="fa-solid fa-credit-card"></i></div>
                <h3>Paga con tarjeta de crédito o en efectivo</h3>
            </header>
            <p>Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!</p>
        </section>
        <br />
        <section class="item-footer">
            <header>
                <div class="icon-footer"><i class="fa-sharp fa-solid fa-gift"></i></div>
                <h3>Envío gratis desde $2.500</h3>
            </header>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <br />
        <section class="item-footer">
            <header>
                <div class="icon-footer"><i class="fa-solid fa-user-lock"></i></div>
                <h3>Seguridad, de principio a fin</h3>
            </header>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>
        <br />
        <section class="base-item-footer">
            <header>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </header>
        </section>
    </footer>
</body>